// Colors
$color-background-primary: #111827;
$color-background-secondary: #1f2937;

$color-background-element: #9c7435;

$color-text: #ffffff;

$color-primary: #d1ba22;
$color-secondary: #4eb763;
$color-danger: #a92311;

// Fonts
$font-family: Figtree, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Units
$border-radius: 5px;
$spacer: 1rem;

// Breakpoints